<launch>

    <!-- Create a param for bag file -->

    <arg name="autorun"     default="false"/>
    <arg name="exp_log_dir" default="false"/>

    <!-- Launch file for ouster OS2-64 LiDAR -->

    <!-- NTU VIRAL -->
    <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/eee_01/eee_01*.bag"/> <arg name="start_time" default="0"/>
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/eee_02/eee_02*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/eee_02/eee_02*.bag"/> <arg name="start_time" default="0"/> -->

    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/nya_01/nya_01*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/nya_02/nya_02*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/nya_03/nya_03*.bag"/> <arg name="start_time" default="0"/> -->

    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/sbs_01/sbs_01*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/sbs_02/sbs_02*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/sbs_03/sbs_03*.bag"/> <arg name="start_time" default="0"/> -->

    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/rtp_01/rtp_01*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/rtp_02/rtp_02*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/rtp_03/rtp_03*.bag"/> <arg name="start_time" default="0"/> -->

    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/spms_01/spms_01*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/spms_02/spms_02*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/spms_03/spms_03*.bag"/> <arg name="start_time" default="0"/> -->

    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/tnp_01/tnp_01*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/tnp_02/tnp_02*.bag"/> <arg name="start_time" default="0"/> -->
    <!-- <arg  name="bag_file" default="/media/tmn/mySataSSD21/DATASETS/NTU_VIRAL/DATA/tnp_03/tnp_03*.bag"/> <arg name="start_time" default="0"/> -->

    <!-- <param name="/use_sim_time" value="true" /> -->
    <arg name="rviz" default="true" />

    <!-- Create the merged pointcloud using slict_merge_lidar.
         If you use slict_merge_lidar, remember:
         + change the pointcloud topic to /os_cloud_node_merged
         + change the extrinsic_T to [0, 0, 0]
         + change the extrinsic_R to [1, 0, 0, 0, 1, 0, 0, 0, 1]-->

    <!-- <node pkg="slict" type="slict_merge_lidar" name="slict_merge_lidar" respawn="true" output="screen" required="false">
        <rosparam file="$(find slict)/config/ntuviral.yaml" command="load"/>
    </node> -->

    <rosparam command="load" file="$(find fast_lio)/config/ntuviral.yaml" />
    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.2" />
    <param name="filter_size_map" type="double" value="0.2" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/ntuviral.rviz" />
    </group>

    <node required="$(arg autorun)" pkg="rosbag" type="play" name="rosbag_player"
          args="--clock $(arg bag_file) -r 1.0 -s 0"
          launch-prefix="bash -c 'sleep 1; $0 $@' "/>

    <node pkg="tf2_ros" type="static_transform_publisher"
          name="world_vio_init_pub" args="0 0 0 1 0 0 0 world slam_init" />  

</launch>
